.header h1 {
    text-align: center;
    font-family: "Serif", "Georgia", monospace;
}

.containers {
    display: relative;
    padding: 20px;
    background-color: aliceblue;
}

.view {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}

.content-box {
    height: 450px;
    width: 350px;
    margin-top: 100px;
    margin-left: 40px;
    border-radius: 20px;
    background-color: rgba(206, 202, 202, 0.543);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.content-box :hover {
    cursor: pointer;

}

.pic {
    height: 150px;
    width: 150px;
    border: 4px solid rgb(110, 89, 204);
    border-radius: 50%;
    padding: 2px;
    margin-top: 30px;
    margin-left: 100px;

}

.data {
    padding: 5px;
}

.name {
    text-align: center;
    text-decoration: underline;
    font-family: "Serif", "Georgia", monospace;
}

.about {
    padding: 5px;
    text-align: justify;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.skills {
    margin-top: 10px;
    text-decoration: underline;
    font-family: "Serif", "Georgia", monospace;
}

.tags {
    height: 100px;
    width: 280px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-column-gap: -1%;
    grid-row-gap: 3%;
    margin-left: 60px;
    margin-top: -25px;
}

.tags2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}